* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

main {
    background-color: gray;
    display: flex;
    height: 100vh;
    width: 100%;
    border: 5px solid red;
}

.container {
    height: 100%;
    width: 100%;
}

.box {
    height: 50%;
    width: 40%;
    background-color: rgb(255, 221, 183);
}

.prod-box {
    height: 95%;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

.circle1 {
    height: 10%;
    width: 15%;
    background-color: red;

    margin: 5%;
    border-radius: 100%;
}

.elements {
    
}

#core {
    display: flex;
    align-items: center;
    justify-content: center;
}