* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
      background-color: black;
}
main {
    width: 100%;
    height: 500px;

    border: 7px solid red;
    position: relative;
}

.box {
    width: 50px;
    height: 50px;

}

#box1 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    bottom: 0;
    left: 0;
}

#box2 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    bottom: 0;
    right: 0;
}

#box3 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    top: 0;
    left: 0;
}

#box4 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    top: 0;
    right: 0;
}