*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
 }

 #flags {
    width: 100vw;
    height: 300px;
    background-color: rgba(0, 1, 8, 0.664);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }

 .bg-white {
    background-color: rgb(255, 255, 255);
}

 .flag {
    width: 120px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;    
 }

 #japan {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
 }

 #green {
   width: 40px;
   height: 100%;
   background-color: green;
 }
 #white{
    width: 40px;
    height: 100%;
    background-color: white;
}
 #red{
    width: 40%;
    height: 100%;
    background-color: red;
 }
#blue{
    width: 40%;
    height: 100%;
    background-color: rgb(3, 3, 134);
 }

.flag-horizontal{
    display: flex;
    flex-direction: column;
}
#h-black{
    width: 120px;
    height: 40px;
    background-color: black;
}
#h-red{
    width: 120px;
    height: 40px;
    background-color: red;
}
#h-yellow{
    width: 120px;
    height: 40px;
    background-color: yellow;
}
