*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: rgb(48, 13, 143);
    font-family: sans-serif;
}
.titulo{
    margin: 20px;
    color: black;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
 }

 #flags {
    width: 100vw;
    height: 300px;
    background-color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }

/* ------------- BACKGROUND COLORS ------------- */
 .cor-white {
    background-color: rgb(255, 255, 255);
}
.cor-red {
    background-color: rgb(255, 0, 0);
}
.cor-green {
    background-color: rgb(4, 128, 4);
}
.cor-black {
    background-color: rgb(0, 0, 0);
}
.cor-blue {
    background-color: rgb(4, 4, 128);
}
.cor-yellow {
    background-color: rgb(228, 228, 3);
}
/* ------------- BACKGROUND COLORS ------------- */

 .flag {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;    
 }

.circulo {
    width: 50px;
    height: 50px;

    border-radius: 50%;
 }
.barra-vertical{

    width: 40%;
    height: 100%;
}


.barra-horizontal{
    width: 100%;
    height: 40%;
}
 
.flag-horizontal{
    display: flex;
    flex-direction: column;
}

#h-black{
    width: 120px;
    height: 40px;
}
#h-red{
    width: 120px;
    height: 40px;  
}
#h-yellow{
    width: 120px;
    height: 40px; 
}

