.tituloh1 {
    background-color: rgba(169, 162, 162, 0.317);
}
.tituloh1 h1 {
    color: #b26d28;
    font-size: 48px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
}
.ingredientes {
    background-color: rgb(158, 227, 199);
    font-family: 'Times New Roman';
    h2 {
        background-color: rgba(92, 167, 132, 0.652);
        color: rgb(0, 0, 0);
        font-size: 24px;
    }
}

.modo-de-preparo {
    background-color: rgba(0, 157, 255, 0.326);
    h2{
        background-color: rgba(97, 130, 154, 0.491);
        font-size: 24px;
        color: rgb(0, 0, 0);
        font-family: 'times new roman';
    }
}